@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-violet-400: theme('colors.violet.400');
    --color-fuchsia-400: theme('colors.fuchsia.400');
    --color-amber-300: theme('colors.amber.300');
    --color-teal-300: theme('colors.teal.300');
  }
}